ul {
  list-style-type: none;
  display: inline-flex;
}

nav a {
  color: orange;
  border: none;
  box-shadow: none;
  font-size: 2cqw;
  font-family: 'Pixel';
  margin: 2cqw;
}

nav a:hover {
  color: yellow;
}
