/* CSS RESET */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

img {
width: 100%;
height: auto;
display: block;
}

#screen {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
}

#game {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-image: url('img/start.svg');
}

#game_over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-image: url('../img/game_over.svg');
}

#level_complete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-image: url('../img/level_complete.svg');
}

#game_background {
  background-image: url('../img/game_bg.svg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#game_foreground {
  background-image: url('../img/game_fg.svg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#good_ship_container {
  width: 10%;
  aspect-ratio: 4/1;
  position: absolute;
  top: 20%;
  left: 20%;
}

#good_ship_sprite {
  width: 100%;
  height: 100%;
  background-image: url('../img/good_ship.svg');
  background-size: cover;
}

#evil_ship_container {
  width: 10%;
  aspect-ratio: 3/0.94;
  position: absolute;
  top: 40%;
  left: 40%;
}

#evil_ship_sprite {
  width: 100%;
  height: 100%;
  background-image: url('../img/evil_ship.svg');
  background-size: cover;
}

#game_ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#life_board {
  width: 2%;
  aspect-ratio: 112/175;
  position: absolute;
  top: 89%;
  left: 4%;
  background-image: url('../img/shield.svg');
  background-size: cover;
}
